.card {
  position: absolute;
  cursor: pointer;

  &__rect {
    fill: white;
    stroke: black;
    stroke-width: 1px;
    rx: 7px;
    ry: 7px;
  }

  &__value {
    font-weight: bold;
    text-transform: capitalize;
  }
}

.card img {
}
