.window-element {
  background-color: #f5f5f5;
  background: white;
  color: white;
  border: 1px solid blue;
  position: fixed;
  z-index: 7;
  overflow-y: auto;
  overflow-x: hidden;

  .menu-content {
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 30px 30px 30px 30px;
  }

  .btn-close {
    float: right;
  }
}
